.con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 10px;
}
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h3{
    text-align: center;
}
.accordion-content{
    margin-bottom: "16px";
    padding-left : "16px";
    border-left: "2px solid #ddd";
}