.con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 10px;
}

h3{
    text-align: center;
}
.accordion-content{
    margin-bottom: "16px";
    padding-left : "16px";
    border-left: "2px solid #ddd";
}