li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid green;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 10px;
}

h3{
    text-align: center;
}